################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/cs2ex_overlay
/build
*.vcxproj
*.filters
*.user
